body,td,th {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	/*font-family: 'Arial Narrow';*/
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #00000;
	margin-left: 0	px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#FFF;
}

.cetakbukti{
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Arial Narrow';*/
	font-size:10px;
}
/*Border Tabel*/
.table1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.table1 td {
	border-top: 1px none #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px none #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
}
/*End Tabel Border*/